body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
   margin: 0;
}
h1{
    font-size:50px;
}
.orange-color{
    color:orange;
}
.flexible-container {
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 80%;
}
.btn{
    background-image:linear-gradient(orange,gray ,tomato);
    text-decoration: none;
    padding:10px 40px;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    padding-right: 5%;
}
.dream-section{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right center;
}
.exp-sec{
width:80%;
margin:0 5% 0 5%;
box-shadow: 5px 10px 10px 5px tomato;
padding-left:2%;
}
.exprience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-developer{
    border-left: 8px solid green;
}
#baby-web-developer{
    border-left: 8px solid blue;
}
footer p{
    text-align: center;
}